/* animations */

@keyframes float {
	0% {
        box-shadow:0 5px 15px 0 rgba(0,0,0,0);
		transform: translatey(0px);
	}
	50% {
        box-shadow:0 25px 15px 0 rgba(0,0,0,0);
		transform: translatey(-20px);
	}
	100% {
        box-shadow:0 5px 15px 0 rgba(0,0,0,0);
		transform: translatey(0px);
	}
}

/* css */

.wrapContent{
    display: flex;
    flex-direction: column;

    background: #fff;
    
    width: 100vw;
    height: 100vh;

    overflow: auto;
}

.container{
    max-width: 1400px;
    display: flex;
    padding-bottom: 8em;

}

.wrapContent .section1WrapContainer{
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background: linear-gradient(120deg, #5A4FC2 0%, #0C0722 78%);
}


.container .titleContent{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding-right: 2em;
}

.titleContent h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.1em;
    font-size: 3.2em;
    color: white;
}

.titleContent p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;

}

.titleContent a{
    
    width: 10em;
    padding: 10px;
    margin-top: 5em;
    border-radius: 18px;

    background: white;

    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #322477;

    cursor: pointer;
    text-decoration: none;

}

.titleContent a:hover{
    background: #00d8e8;
    color: white;
    transition: all 0.3s ease-in-out;

}

.container .ilustrationContainer{
    width: 50%;

}

.ilustrationContainer img{
    width: 50em;
    animation: float 5s ease-in-out infinite;
}

.wrapContent .section2WrapContainer{
    width: 1000px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1em;
    margin-top: -4em;

    border-radius: 15px;

    background: #CECCDB80;
    box-shadow: -15px 9px 50px #0000003D;
    backdrop-filter: blur(10px);
}

.section2WrapContainer a{
    align-self: center;
    margin-top: -5em;
    margin-bottom: 2em;
    cursor: pointer;
}

.section2WrapContainer h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #322477;
    padding-top: .5em;
    padding-bottom: 1em;
}

.section2WrapContainer .cardsContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.cardsContent .card{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card .cardImg{
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: #322477;
    padding: 1em;
    border-radius: 50%;
}

.card .cardInfo{
    text-align: center;
    padding: .5em;
}

.cardInfo h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #4E457B;
    padding-bottom: 12px;
}

.cardInfo p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4E457B;
}
