.wrapContent{
    /* size -> positions -> effects -> colors */
    width: 100%;
    min-height: 8vh;
    padding: 1em;

    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;

    transition: all .2s ease-in;
    
    background: #32247700;
    
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background: #322477;
}

.wrapContent .siteLogo{
    display: flex;
    width: 40%;
    justify-content: center;
}

.siteLogo img{
    width: 170px;
}

.wrapContent .navContent{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.navContent a{
    padding-right: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    
    text-decoration: none;
    
}