.content{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 250px;
}

.content a{
    cursor: pointer;
    text-decoration: none;
    color: red;
    font-size: 30px;
}